@model PagedList.IPagedList<pmsManager.Models.PmsListViewModel>

<div id="pmsList">

    <div class="pagedList" data-otf-target="#pmsList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>


    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <div>
                Id: @item.Id
            </div>
            <div>
                Formats: @item.CountOfFormats
            </div>
            <hr />
        </div>
    }
</div>
